.gui-form {
    &-row {
        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &-td {
        padding-top: 12px;
        padding-bottom: 12px;


    }

    &-td+&-td {
        padding-left: 8px;
    }
}