.gui-form {

    border-collapse: collapse;

    &-row {
        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &-td {
        padding-top: 12px;
        padding-bottom: 12px;
        position: relative;
    }

    &-error {
        font-size: 0.5em;
        position: absolute;
        color: #ee350f
    }

    &-td+&-td {
        padding-left: 8px;
    }

}