.gui-scroll {
    overflow: hidden;
    position: relative;

    &-inner {
        border: 1px solid blue;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: -16px;
        bottom: 0
    }

    &-slot {
        position: absolute;
        border: 1px solid red;
        height: 100%;
        width: 10px;
        right: 0;
        top: 0;

    }

    &-bar {
        position: absolute;
        background: grey;
        height: 40px;
        width: 10px;
        left: 0;
        top: 0;

    }

}